agno
fastapi
uvicorn[standard]
asyncpg
sqlalchemy
pandas
openpyxl
redis
python-dotenv
pydantic
pydantic-settings
locust
pytest
pytest-asyncio
httpx
openai
pyjwt
python-multipart
aiofiles
bcrypt
ldap3
authlib

aiomysql
